In [1]:
print("hello world")

hello world

In [4]:
deepak=5
deepak

5

In [5]:
x=10
y=24
z=x+y
print(z)
print(x+y)

34
34

In [6]:
y=input("enter the value")

enter the value20

In [7]:
type(y)

str

In [8]:
profit_q1=50000
profit_q2=60000
profit_q3=70000
profit_q4=80000
total_profit=profit_q1+profit_q2+profit_q3+profit_q4
print(total_profit)

260000

In [9]:
password="secure1"
is_valid_length=len(password)>=8
print(is_valid_length)

False

In [10]:
totalmembers=int(input("total members in the house"))
a=int(input("some members are missed"))
y=totalmembers-a
print("after the flood total members in the house",y)
print("missed members are arrived")
b=int(input("some mebers are coming with them"))
z=y+a+b
print("total members are",z)

total members in the house5
some members are missed2
after the flood total members in the house 3
missed members are arrived
some mebers are coming with them23
total members are 28

In [11]:
a=45
students=8
amount=a*students
print(amount)
totalpaid=500
remain=totalpaid-amount
print(remain)

360
140

In [13]:
temp1=20
temp2=16
temp=(temp1+temp2)/2
if(temp1<=1):
    print(temp1)
else:
    (temp2>=1)
    print(temp)

18.0

In [17]:
name="shetty"
name[5]

'y'

In [26]:
tutorial="geck mandya"
print(tutorial[2])

c

In [29]:
name="welcome to all we are sesion in edunet foundation we are learning AI"
print(name[31:49])

 edunet foundation

In [36]:
edunet foundation="data science is awesome"
print(edunet foundation.replace('awesome','amazing'))=

SyntaxError: invalid syntax (4249617394.py, line 1)

In [1]:
f=[1,20,20.0,"hello"]

In [2]:
type(f)

list

In [3]:
b=[10,12,14,16,7]
count=b.count(10)
print(count)

1

In [4]:
name=["ullas","abhishek","praveen","yanka","raju"]

In [6]:
x=0
for i in name:
    if i=="yanka":
        x=x+1
        
print(x)

1

In [8]:
name=("dumsi",30.0,"pintu","shona",70.00000)
type(name)

tuple

In [14]:
a="*"
b="**"
c="***"
d="****"
e="*****"
print(a,
      b,
      c,
      d,
      e)

* ** *** **** *****

In [17]:
my_tuple1=(1234,2345,3456,4567)
my_tuple2=tuple((1,2,3,4))
print(type(my_tuple1))
print(len(my_tuple2))

<class 'tuple'>
4

In [18]:
name=(10,30,14,15,3)
smallest=name[0]
for i in name:
    if i<smallest:
        smallest=i
print(smallest)

3

In [21]:
name="abhi","ullas","shetty","raju"
age=("abhi(21)","ullas(22)","shetty(23)","raju(23)")
smallest=name[0]
for i in name:
    if i<smallest:
        smallest=i
print(smallest)

abhi

In [24]:
name="abhi","ullas","shetty","raju"
age=("abhi(21)","ullas(22)","shetty(23)","raju(23)")
highest=name[2]
for i in name:
    if i>highest:
        highest=i
print(highest)

ullas